[Unit]
Description=Reboot Devices Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/reboot_devices.py
WorkingDirectory=/opt
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target