[Unit]
Description=Reboot Devices Service
After=network.target

[Service]
ExecStart=/home/server/inet_power_control/app/venv/bin/python3 /usr/local/bin/reboot_devices.py
WorkingDirectory=/usr/local/bin
StandardOutput=append:/var/log/reboot_devices.log
StandardError=append:/var/log/reboot_devices.err.log
Restart=always
User=server
Group=server

[Install]
WantedBy=multi-user.target
